<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/css/authentication.css')}}" />
  </head>
  <body>
    <section class="wrapper">
      <div class="form signup">
        <header>Signup</header>
        <form id="signupForm" >
          <input type="text" id="sname" placeholder="Full name" required />
          <input type="number" id="sstud_id" placeholder="Student ID" required />
          <input type="password" id="spassword" placeholder="Password" required />
          <div class="checkbox">
            <input type="checkbox" id="signupCheck" required/>
            <label for="signupCheck">I accept all terms & conditions</label>
          </div>
          <input type="submit" id="rsubmit" value="Signup" />
        </form>
      </div>

      <div class="form login">
        <header>Login</header>
        <form id="loginForm">
          <input type="text" id="lstud_id" placeholder="Student ID" required />
          <input type="password" id="lpassword" placeholder="Password" required />
          <a href="#">Forgot password?</a>
          <input type="submit" value="Login" />
        </form>
      </div>
      <script src="{{url_for('static',filename='/js/authentication.js')}}"></script>
      <script>
        const wrapper = document.querySelector(".wrapper"),
          signupHeader = document.querySelector(".signup header"),
          loginHeader = document.querySelector(".login header");

        loginHeader.addEventListener("click", () => {
          wrapper.classList.add("active");
        });
        signupHeader.addEventListener("click", () => {
          wrapper.classList.remove("active");
        });
      </script>
    </section>
  </body>
</html>