/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* Header Styles */
header {
    background-color: #f6ebf4; /* Header background color */
    color: #482673; /* Text color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif; /* Use the Poppins font */
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left h1 {
    font-size: 24px;
    margin-right: 20px;
    font-weight: 600; /* Bold font weight */
}

.header-left h1:hover {
    color: #4cbfa6;
}

.header-right {
    display: flex;
    align-items: center;
}

.search-bar {
    background-color: #482673;
    color: #f6ebf4;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 15px;
    padding: 5px;
    margin-right: 20px;
    font-size: 16px;
}
::placeholder{
    color: #f6ebf4;
    opacity: 4;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 20px; /* Add margin to separate the menu from the button */
}

.nav-menu li {
    margin-right: 30px;
}

.nav-menu a {
    text-decoration: none;
    color: #482673;
    font-weight: 500; /* Medium font weight */
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #4cbfa6; /* Hover color */
}

#nav-btn {
    background-color: #482673; /* Button background color */
    color: #f6ebf4; /* Button text color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#nav-btn:hover{
    background-color:#4cbfa6 ;
    color: #f6ebf4;
}



body{
    background-color: #482673;
}
/* Card Styles */
.card {
    width: 45%;
    border: 1px solid #e0e0e0;
    border-radius: 80px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ed0b70;
}

.card button {
    background-color: #ed0b70;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 10px; 
}

.card button:hover {
    background-color: #482673;
}

.card img {
    max-width: 95%;
    height: auto;
    border-radius: 20px;
}

/* Card Section Styles */
#card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
